.workloadHeader {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  
}
.filterContainer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2vh;
  margin-top: 2vh;
}
.cards {
  display: flex;
  justify-content: space-around;
}

.singleCard {
  max-width: 30vw;
  text-align: center;
  min-height: 14em;
  max-height: 14em;
  min-width: 200px;
  padding: 0 1em 0 1em;
  margin: 1em;
}

.cardContent {
  margin-top: 4em;
}

.dropdownButton{
  margin: 1em 0 0;
  width: 20vw;
  align-self: center;
}	

.singleSelectField {
  width: 30vw;
  margin:1em 1em 0 0;
}

h1 {
  font-size: 3.5em;
}

.tableHeaderWrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .workloadHeader {
    flex-direction: column;
  }

  
  .dropdownButton{
    margin: 4vh 0 0 0;
  }
}
