.workloadHeader {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2vh;
  margin-top: 2vh;
}
.headerCards {
  display: flex;
  justify-content: space-around;
}

.headerSingleCards {
  max-width: 30vw;
  text-align: center;
  min-height: 14em;
  max-height: 14em;
  min-width: 200px;
  padding: 0 1em 0 1em;
  margin: 1em;
}

.headerCardContent {
  margin-top: 4em;
}

.dropDownButtonDateComponent {
  margin: 1em 0 0;
  width: 20vw;
  align-self: center;
}

.singleSelectField {
  width: 30vw;
  margin: 1em 1em 0 0;
}

.headerCardsH1 {
  font-size: 3.5em;
}

@media screen and (min-width: 768px) {
  .workloadHeader {
    flex-direction: column;
  }

  .dropDownButtonDateComponent {
    margin: 4vh 0 0 0;
  }
}
