.workloadHeader {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-bottom:2em;
  margin-top:2em;
}


.singleSelectField {
  margin: 1em 1em 0;
  width: 30vw;
  }

.dropdownButton{
  margin: 1em 0 0;
  width: 20vw;
  align-self: center;
}


@media screen and (min-width: 768px) {
  .workloadHeader {
    flex-direction: row;
  }
  .singleSelectField {
    margin: 1vh 1vh 0 0;
  }
  .dropdownButton{
    margin: 4vh 0 0 0;
  }
}
