.workloadHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em;
}

.cards {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.singleCard {
  max-width: 30%;
  text-align: center;
  min-height: 14em;
  max-height: 14em;
  min-width: 200px;
  padding: 0 1em 0 1em;
  margin: 1em;
}

.cardContent {
  margin-top: 4em;
}

.singleSelectFieldContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 60%;
  margin-top: 2em;
}

.singleSelectField {
  max-width: 100%;
  width: 20em;
}

h1 {
  font-size: 3.5em;
}

@media screen and (min-width: 768px) {
  .workloadHeader {
    flex-direction: column;
  }

  .singleSelectFieldContainer {
    flex-wrap: nowrap;
  }
}
