.statusTableCell {
  max-width: 300px;
}

.noticeAllDone {
  align-self: center;
  width: 67%;
}

.contactModalTable {
  width: 50vw;
}

.contactsModal {
  width: fit-content !important;
}

.dropDownStatusContainer {
  margin: 8px 0;
}

.dropDownStatusCard {
  width: 300px !important;
  padding-left: 15px;
  padding-right: 32px;
  padding-bottom: 10px;
}

.dropDownStatus {
  width: 300px;
  border: 0 !important;
  background-color: inherit !important;
}

.dropDownStatusTag {
  max-width: 100% !important;
}

.dropDownWrapTag {
  width: 100%;
}
