.statusTableCell {
  max-width: 300px;
}

.statusTagContainer {
  margin: 8px 0;
}

.noticeAllDone {
  align-self: center;
  width: 67%;
}

.card {
  width: 300px !important;
  padding-left: 15px;
  padding-right: 32px;
  padding-bottom: 10px;
}

.dropDownStatus {
  width: 300px;
  border: 0 !important;
  background-color: inherit !important;
}

.tag {
  max-width: 100% !important;
}

.table {
  width: 50vw;
}

.modal {
  width: fit-content !important;
}
