.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-left: 5%;
}

.menu {
  border-right: 1px solid rgb(128, 128, 128, 0.5);
}

.workloadHeader {
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.singleSelectFields {
  margin-top: 2em;
  flex-wrap: wrap;
  width: 40%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropDownOptionLayout {
  flex-wrap: wrap;
}

.wrapListItemWorkload {
  display: flex;
  width: 39.5%;
  justify-content: space-between;
  margin-bottom: 1em;
}

.listItemCaseWorkload {
  border: 0.15em solid rgba(231, 231, 231, 0.5);
  width: 75%;
}

.listItemContactWorkload {
  width: 20%;
  text-align: center;
  border: 0.15em solid rgba(231, 231, 231, 0.5);
}

.inputField {
  margin-top: 1em;
  width: 40%;
}
