.workloadContainer {
  display: flex;
  flex: 1;
  margin-bottom: 2em;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.centerElement {
  align-self: center;
  justify-self: center;
}

.tableHeaderWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.MunicipalityChooser {
  width: 20%;
}

.searchComponent {
  margin-bottom: 2vh;
  width: 90%;
  align-self: center;
}

.MunicipalityChooser {
  width: 20vw;
  margin-right: 4vw;
}