.workloadContainer {
  display: flex;
  flex: 1;
  margin-bottom: 2em;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.centerElement {
  align-self: center;
  justify-self: center;
}

.searchComponent {
  margin-bottom: 2vh;
  width:50vw;
  align-self:center
}